<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bbbmeetings"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/bbblogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bbblogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BBBMeetings">
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".ui.root.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BBBMeetings.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>